
.headerTabla{
    background-color: #333333b9;
    font-family: Arial, Helvetica, sans-serif;
}

.primeraCol{
    background-color: #E6F3FF !important;
    font-family: Arial, Helvetica, sans-serif;
}

.colorAlternativo{
    background-color: #FFFFCC !important;
}