body{

    background-color: rgb(246, 4, 4);
    background-image: url(../img/rata.jpg);
    background-size: cover;
    object-fit: cover;
   
}




.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
    color: black;
    text-align: left;
}

#adolfo{
    color: #CC0000;
}

#adolfo:hover{
    background-color: red ;
    color: white;
    font-size: 30px;
    
}

#adolfo:visited{
    color: purple;
}

/* a{
    color: #CC0000;
}

a:visited{
    color: purple;
}

a:hover{
    background-color: red ;
    color: white;
    font-size: 30px;
}

a:active{
    color: magenta;
    
} */
